<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NJITQuizApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CB2B0201BA878D90070DC91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B0341BA878D90070DC91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CB2B03F1BA878DA0070DC91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
